---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body class="min-h-screen bg-gray-100">
    <Layout>
      <Welcome />
    </Layout>
  </body>
</html>
