---
import Header from "@components/Header.astro";
import LoginModal from "@components/LoginModal.astro";
import LoginLayout from "@layouts/LoginLayout.astro";
---

<LoginLayout title="Login">
  <Header />
  <header class="main-content">
    <h1 id="main-content-title" class="main-content-title">UFABET</h1>
    <p class="main-content-detail-close main-content-detail">
      Ufabet เป็นแพลตฟอร์มการพนันออนไลน์ที่ได้รับการยอมรับอย่างกว้างขวาง
      โดยมีตัวเลือกการแทงมากมาย รวมถึงการพนันกีฬาและเกมคาสิโน Ufabet
      มีต้นกำเนิดในเอเชียและเป็นที่นิยมอย่างมากในประเทศไทย
      แพลตฟอร์มนี้ได้รับความนิยมเนื่องจากการครอบคลุมกีฬาที่ครบถ้วนและเกมคาสิโนต่างๆ
      เช่น <strong>สล็อต Ufabet</strong> แพลตฟอร์มการพนันชั้นนำนี้ก่อตั้งขึ้นในปี
      2009 การมีตัวเลือกการแทงกีฬาที่หลากหลายของ UFABET เป็นหนึ่งในปัจจัยหลักที่ทำให้แตกต่างจากคู่แข่ง<br
      /><br />
    </p>
    <LoginModal />
  </header>
</LoginLayout>
