---
import { Image } from "astro:assets";
---

<div id="login-modal" class="modal"> 
<div class="modal-content">
  <div class="logo-header">
    <Image 
      class="img-logo" 
      src="/img/ubet-logo.avif" 
      alt="ufabet logo" 
      width={128}
      height={22}
    />
  </div>
  
  <form class="login-form">
    <div class="login-input-container">
      <Image 
        class="imgLeft" 
        src="/img/icn-user.avif" 
        alt="ชื่อผู้ใช้" 
        width={24} 
        height={24}
      />
      <span class="login-placeholder">ชื่อผู้ใช้</span>
      <input class="login-field" type="text" id="username" name="username" />
    </div>
    
    <div class="login-input-container">
      <Image 
        class="imgLeft" 
        src="/img/icn-password.avif" 
        alt="รหัสผ่าน" 
        width={24} 
        height={24}
      />
      <span class="login-placeholder">รหัสผ่าน</span>
      <input class="login-field" type="password" id="password" name="password" />
      <Image 
        class="imgRight" 
        src="/img/icn-show-password.avif" 
        alt="แสดงรหัสผ่าน" 
        width={24} 
        height={24}
      />
    </div>
  </form>

  <button class="login-btn" id="sign-up">เข้าสู่ระบบ</button>
  
  <div class="login-footer">
    <button class="join-now">สมัคร</button>
    <button class="forgot-pw">ลืมรหัสผ่าน</button>
  </div>
  
  <button class="close-modal">
    <Image 
      src="/img/icn-close.avif" 
      alt="ปิดหน้าต่างล็อกอิน" 
      width={24} 
      height={24}
    />
  </button>
</div>
</div>