<div class="w-[322px] h-[46px] relative">
  <div class="w-[322px] h-[46px] left-0 top-0 absolute bg-gradient-to-r from-[#2b2b32] to-[#484141] rounded-[25px]">
  </div>
  <div class="left-[123.44px] top-[14px] absolute text-center text-[#ebc76e] text-xs font-medium font-['Prompt']">
    More Games
  </div>
</div>
<div class="custom-btn-1-show-more-wrapper">
  <button class="custom-btn-1-show-more-btn" style="min-width: 358px;">ดูเพิ่มเติม</button>
</div>
